%div{ :class => 'row' }

  %div{ :class => 'span4' }
    %div{ :class => 'page-header' }
      %h1 Make a new one
    %form{ :action => '/items/new', :method => 'post', :class => 'well' }
      %label{ :for => 'url' }
        Full URL
      %input{ :type => 'text', :name => 'url', :placeholder => 'http://...', :class => 'span3' }
      %label{ :for => 'item_id' }
        Short URL (optional)
      %input{ :type => 'text', :name => 'item_id', :placeholder => 'kurz&knapp', :class => 'span3' }
      %button{ :type => 'submit', :class => 'btn' }
        Submit

  %div{ :class => 'span8' }
    %div{ :class => 'page-header' }
      %h1 Recent Urls
    - if @items
      %table{ :class => 'table table-condensed table-striped' }
        %thead
          %tr
            %th Full
            %th Short
            %th Clicks
        %tbody
          - @items.each do |i|
            %tr
              %td
                %a{ :href => "#{i.url}", :title => "#{i.url}" }> #{h shortify(i.url, 50)}
              %td
                %a{ :href => "#{i.item_id}", :title => "#{i.item_id}" }> #{h shortify(i.item_id, 10)}
              %td
                = i.clicks
